<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <title>Cambiar Contraseña</title>
</head>
<body>
    <h2>Cambiar Contraseña</h2>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form method="post">
        <label for="new_password">Nueva Contraseña:</label><br>
        <input type="password" id="new_password" name="new_password"><br>
        <label for="confirm_password">Confirmar Contraseña:</label><br>
        <input type="password" id="confirm_password" name="confirm_password"><br><br>
        <input type="submit" value="Cambiar Contraseña">
    </form>
</body>
</html>
