<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/medicos.css') }}">
    <title>SOLICITUDES SOPORTE</title>
</head>
<body>
   
    <h1>SOLICITUDES SOPORTE</h1>
    <table border="3"  width="90%" >
        <tr>
            <th>nombre medico</th>
            <th>tipo de inconveniente</th>
            <th>numero de cubiculo</th>
            <th>observaciones</th>
            <th>Fecha de Envío</th>
            <th>estado de la solicitud</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>

        </tr>
        {% endfor %}
    </table><br><hr>
    <div class="experience-description"><br><hr>
        <a href="/operaciones"><button type="submit" color = "	
            #4EDFB5">Regresar al inicio</button> </a>
     </div>
</body>
</html>