<!-- <!doctype html>
<html lang="es">
    <head>
        <title>Title</title>
        
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

      
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    </head>

    <body>
      
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
               <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
               <img src="/static/imagenes/logo2.png"height="100" width="250" ></img>
               <a class="navbar-brand" href="#inicio"><h2>{{ username }}</h2></a>
               
               
               <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                 <div class="offcanvas-header">
                   <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Administrativos</h5>
                   <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                 </div>
                 <div class="offcanvas-body">
                   <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                     <li class="nav-item">
                       <a class="nav-link active" aria-current="page" href="#inicio">Inicio</a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link" href="/nomina">Nomina</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/operaciones">Operaciones</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/talento_humano">Talento humano</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#comunicaciones">Comunicaciones</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/contabilidad">Contabilidad</a>
                      </li>
                        <li class="nav-item dropdown">
                       <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                         mas opciones
                       </a> 
                       <ul class="dropdown-menu dropdown-menu-dark">
                         <li><a class="dropdown-item" href="/registrar_novedad">Registrar otras novedades</a></li>
                         <li><a class="dropdown-item" href="/registrar_incapacidad">Registrar incapacidades</a></li>
                         <li><a class="dropdown-item" href="/gestionar_actividades">crear actividad</a></li>
                         <li>
                           <hr class="dropdown-divider">
                         </li>
                         <li><a class="dropdown-item" href="#">............</a></li>
                       </ul>
                     </li>
                   </ul>
                   <form class="d-flex mt-3" role="search">
                     <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                     <button class="btn btn-success" type="submit">Search</button>
                   </form>
                   <li class="nav-item">
                    <a class="nav-link" href="/logout">SALIR</a>
                  </li>
                 </div>
                 
               </div>
            </div>
           </nav>
          
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
        <div class="col container">
          <ul>
            <img src="/static/imagenes/p.JPG" class="img-fluid" alt="Bootstrap" >
          </ul>
        </div> 
    </body>
</html> -->


<!-- <!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Barra Lateral de Navegación</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .sidebar {
      height: 100%;
      width: 250px;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #28289D; /* Color azul petróleo */
      padding-top: 20px;
    }
    .sidebar a {
      padding: 10px 15px;
      text-decoration: none;
      font-size: 20px;
      color: white;
      display: block;
    }
    .sidebar a:hover {
      background-color: #4EDFB5; /* Color azul petróleo más oscuro al pasar el ratón */
    }
    .content {
      margin-left: 290px; /* Ajuste para compensar el tamaño de la barra lateral */
      padding: 30px;
    }


  </style>
</head>
<body>

  <div class="sidebar">
    <img src="/static/imagenes/logo2.png" alt=""><br><br>
    <a class="dropdown-item" aria-current="page" href="#inicio">Inicio</a>
    <a class="dropdown-item" href="/nomina">Nomina</a>
    <a class="dropdown-item" href="/operaciones">Operaciones</a>
    <a class="dropdown-item" href="/talento_humano">Talento humano</a>
    <a class="dropdown-item" href="/contabilidad">Contabilidad</a>
    <a class="dropdown-item" href="#" data-toggle="dropdown">Crear Actividad</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/gestionar_actividades">Crear Actividad</a>
    </div>
    <a class="dropdown-item" href="#" data-toggle="dropdown">Registrar</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/registrar_incapacidad">Registrar Incapacidades</a>
        <a class="dropdown-item" href="/registrar_novedad">Registrar Otras Novedades</a>
    </div>

  
    <a class="dropdown-item" href="/logout">Salir</a>
</div>



<div class="content">
  <h2>Bienvenid@ <a class="navbar-brand"><h2>{{ username }}</h2></a></h2>
  <p>Este es el contenido principal de la página.</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
 -->

 <!DOCTYPE html>
 <html lang="es">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Barra Lateral de Navegación</title>
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <style>
     .sidebar {
       height: 100%;
       width: 300px;
       position: fixed;
       top: 0;
       left: 0;
       background-color: #28289D; /* Color azul petróleo */
       padding-top: 20px;
     }
     .sidebar a {
       padding: 5px 15px;
       text-decoration: none;
       font-size: 20px;
       color: white;
       display: block;
     }
     .sidebar a:hover {
       background-color: #4EDFB5; /* Color azul petróleo más oscuro al pasar el ratón */
     }
     .content {
       margin-left: 350px; /* Ajuste para compensar el tamaño de la barra lateral */
       padding: 30px;
     }
   </style>
 </head>
 <body>
 
 <div class="sidebar">
   <img src="/static/imagenes/logo2.png" alt=""><br>
   <a class="dropdown-item" aria-current="page" href="#admin">Inicio</a>

    <div class="accordion" id="nominaAccordion">
      <a class="dropdown-item" data-toggle="collapse" href="#nominaCollapse" role="button" aria-expanded="false" aria-controls="nominaCollapse">Nomina</a>
      <div id="nominaCollapse" class="collapse" data-parent="#nominaAccordion">
        <a class="dropdown-item" href="/plantilla_incapacidades">Incapacidades</a>
        <a class="dropdown-item" href="/plantilla_nomina">Otras novedades</a>
        <a class="dropdown-item" href="/show_data_of_the_day">Registro medicos</a>
      </div>
    </div>
  
    <div class="accordion" id="operacionesAccordion">
      <a class="dropdown-item" data-toggle="collapse" href="#operacionesCollapse" role="button" aria-expanded="false" aria-controls="operacionesCollapse">Operaciones</a>
      <div id="operacionesCollapse" class="collapse" data-parent="#operacionesAccordion">
        <a class="dropdown-item" href="/estado_solicitud">Soporte</a>
        <a class="dropdown-item" href="/inventario">Inventario</a>
        <a class="dropdown-item" href="/lineas">Lineas</a>
        <a class="dropdown-item" href="/plano">Plano</a>
      </div>
    </div>
    <div class="accordion" id="talentoAccordion">
      <a class="dropdown-item" data-toggle="collapse" href="#talentoCollapse" role="button" aria-expanded="false" aria-controls="talentoCollapse">Talento humano</a>
      <div id="talentoCollapse" class="collapse" data-parent="#talentoAccordion">
        <a class="dropdown-item" href="/personal">Personal activo</a>
        <!-- Agrega más opciones si es necesario -->
      </div>
    </div>
   <a class="dropdown-item" href="#">Contabilidad</a>
 
   <!-- Menú desplegable para "Crear Actividad" -->
   <div class="accordion" id="crearActividadAccordion">
     <a class="dropdown-item" data-toggle="collapse" href="#crearActividadCollapse" role="button" aria-expanded="false" aria-controls="crearActividadCollapse">Crear actividades</a>
     <div id="crearActividadCollapse" class="collapse" data-parent="#crearActividadAccordion">
       <a class="dropdown-item" href="/gestionar_actividades">Gestionar Actividades</a>
       <!-- Agrega más opciones si es necesario -->
     </div>
   </div>
 
   <!-- Menú desplegable para "Registrar" -->
   <div class="accordion" id="registrarAccordion">
     <a class="dropdown-item" data-toggle="collapse" href="#registrarCollapse" role="button" aria-expanded="false" aria-controls="registrarCollapse">Registrar novedades</a>
     <div id="registrarCollapse" class="collapse" data-parent="#registrarAccordion">
       <a class="dropdown-item" href="/registrar_incapacidad">Registrar Incapacidades</a>
       <a class="dropdown-item" href="/registrar_novedad">Registrar Otras Novedades</a>
       <!-- Agrega más opciones si es necesario -->
     </div>
   </div>
 
   <a class="dropdown-item" href="/logout">Salir</a>
 </div>
 
 <div class="content">
   <h2>Bienvenid@ <a class="navbar-brand"><h2>{{ username }}</h2></a></h2>
 
   <canvas id="grafico"></canvas>

   <script>
    // Datos de muestra para el gráfico
    const datos = {
      etiquetas: ['Enero', 'Febrero', 'Marzo'],
      datasets: [{
        label: 'Atenciones',
        data: [2000, 2000, 2000, 2000], // Datos de las atenciones por mes
        backgroundColor: 'rgba(54, 162, 235, 0.2)', // Color de fondo de las barras
        borderColor: 'rgba(54, 162, 235, 1)', // Color del borde de las barras
        borderWidth: 1 // Ancho del borde de las barras
      }]
    };
  
    // Configuración del gráfico
    const opciones = {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true // Iniciar el eje Y en cero
          }
        }]
      }
    };
  
    // Obtener el contexto del canvas
    const ctx = document.getElementById('grafico').getContext('2d');
  
    // Crear el gráfico de barras
    const grafico = new Chart(ctx, {
      type: 'bar',
      data: datos,
      options: opciones
    });
  </script>
  

 </div>
 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 </body>
 </html>
 

 