<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTROL DE PERSONAL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/personal.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>inventario fisico</h1>
    <a href="/admin"><button class="btn btn-primary">Regresar al inicio</button></a>
    <div class="table">
        <table id="miTabla" border="3" class="table table-striped">
            <thead>
                <tr>
                    <th>NOMBRES COMPLETOS</th>
                    <th>NUMERO CEDULA</th>
                    <th>CARGO</th>
                    <th>PUESTO</th>
                    <th>NUMERO CELULAR</th>
                    <th>ML-PC</th>
                    <th>ML-PANTALLA</th>
                    <th>MOUSE</th>
                    <th>GUAYA</th>
                    <th>CARGADOR</th>
                    <th>DIADEMA</th>
                    <th>FECHA DE ENVIO</th>
                    <th>SILLA</th>
                    <th>CUBICULO</th>
                    <th>DESCAN SAPIES</th>
                    <th>OBSERVA CIONES</th>
                    <th>Estado</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for asignacioninventario in asignacionesinventario %}
                <tr>
                    <td>{{ asignacioninventario[0] }}</td>
                    <td>{{ asignacioninventario[1] }}</td>
                    <td>{{ asignacioninventario[2] }}</td>
                    <td>{{ asignacioninventario[3] }}</td>
                    <td>{{ asignacioninventario[4] }}</td>
                    <td>{{ asignacioninventario[5] }}</td>
                    <td>{{ asignacioninventario[6] }}</td>
                    <td>{{ asignacioninventario[7] }}</td>
                    <td>{{ asignacioninventario[8] }}</td>
                    <td>{{ asignacioninventario[9] }}</td>
                    <td>{{ asignacioninventario[10] }}</td>
                    <td>{{ asignacioninventario[11] }}</td>
                    <td>{{ asignacioninventario[12] }}</td>
                    <td>{{ asignacioninventario[13] }}</td>
                    <td>{{ asignacioninventario[14] }}</td>
                    <td>{{ asignacioninventario[15] }}</td>
                    <td>{{ asignacioninventario[16] }}</td>
                    
                    <!-- Botón para abrir el modal -->
                    <td>
                       
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#miModal{{ asignacioninventario[3] }}">
                            Actualizar
                        </button>
                    </td>
                    <!-- Modal -->
                   
                        <div class="modal fade" id="miModal{{ asignacioninventario[3] }}" tabindex="-1" role="dialog" aria-labelledby="miModalLabel{{ asignacioninventario[3] }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            
                            <h5 class="modal-title" id="miModalLabel{{ asignacioninventario[3] }}">Actualizar {{ asignacioninventario[3] }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <!-- Aquí va el formulario para actualizar los datos -->
                            <form id="formActualizar" method="post" action="/update5">
                                    <input type="hidden" name="numero_puesto" value="{{ asignacioninventario[3] }}">
                                    <div class="form-group">
                                        <label for="nombres_completos">NOMBRES_COMPLETOS</label>
                                        <input type="text" class="form-control" id="nombres_completos" name="nombres_completos" value="{{ asignacioninventario[0] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="cedula">NUMERO DE CEDULA</label>
                                        <input type="text" class="form-control" id="cedula" name="cedula" value="{{ asignacioninventario[1] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="cargo">CARGO</label>
                                        <input type="text" class="form-control" id="cargo" name="cargo" value="{{ asignacioninventario[2] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="extension">NUMERO CELULAR</label>
                                        <input type="text" class="form-control" id="extension" name="extension" value="{{ asignacioninventario[4] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="ml_pc">ML-PC</label>
                                        <input type="text" class="form-control" id="ml_pc" name="ml_pc" value="{{ asignacioninventario[5] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="ml_pantalla">ML-PANTALLA</label>
                                        <input type="text" class="form-control" id="ml_pantalla" name="ml_pantalla" value="{{ asignacioninventario[6] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="mause">MOUSE</label>
                                        <input type="checkbox" class="form-control" id="mause" name="mause" value="{{ asignacioninventario[7] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="guaya">GUAYA</label>
                                        <input type="checkbox" class="form-control" id="guaya" name="guaya" value="{{ asignacioninventario[8] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="cargador">CARGADOR</label>
                                        <input type="checkbox" class="form-control" id="cargador" name="cargador" value="{{ asignacioninventario[9] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="diadema">DIADEMA</label>
                                        <input type="checkbox" class="form-control" id="diadema" name="diadema" value="{{ asignacioninventario[10] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="silla">SILLA</label>
                                        <input type="checkbox" class="form-control" id="silla" name="silla" value="{{ asignacioninventario[12] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="cubiculo">CUBICULO</label>
                                        <input type="checkbox" class="form-control" id="cubiculo" name="cubiculo" value="{{ asignacioninventario[13] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="descansapies">DESCANSAPIES</label>
                                        <input type="checkbox" class="form-control" id="descansapies" name="descansapies" value="{{ asignacioninventario[14] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="estado">Estado</label>
                                        <select type="text" class="form-control" id="estado" name="estado" value="{{ asignacioninventario[16] }}">
                                            <option value="0">Seleccione una opcion</option>
                                            <option value="ACTIVO">ACTIVO</option>
                                            <option value="INACTIVO">INACTIVO</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="observaciones">OBSERVACIONES</label>
                                        <input type="text" class="form-control" id="observaciones" name="observaciones" value="{{ asignacioninventario[15] }}">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                             </form>
                        </div>
                    </div>
                </div>
            </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function abrirModalActualizar(id, nombres_completos, cedula, cargo, extension, ml_pc, ml_pantalla, mause, guaya, cargador, diadema, silla, cubiculo, descansapies, observaciones, numero_puesto,estado) {
            document.getElementById('idActualizar').value = id;
            document.getElementById('nombres_completos').value = nombres_completos;
            document.getElementById('cedula').value = cedula;
            document.getElementById('cargo').value = cargo;
            document.getElementById('extension').value = extension;
            document.getElementById('ml_pc').value = ml_pc;
            document.getElementById('ml_pantalla').value = ml_pantalla;
            document.getElementById('observaciones').value = observaciones;
            document.getElementById('estado').value = estado;
            // Actualiza los estados de los checkboxes
            document.getElementById('mause').checked = mause === 'Sí';
            document.getElementById('guaya').checked = guaya === 'Sí';
            document.getElementById('cargador').checked = cargador === 'Sí';
            document.getElementById('diadema').checked = diadema === 'Sí';
            document.getElementById('silla').checked = silla === 'Sí';
            document.getElementById('cubiculo').checked = cubiculo === 'Sí';
            document.getElementById('descansapies').checked = descansapies === 'Sí';
            // Abre el modal
            $('#miModal').modal('show');
        }

        document.addEventListener('DOMContentLoaded', function() {
            // Selecciona todos los checkboxes
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        
            checkboxes.forEach(function(checkbox) {
                // Establece el estado inicial del checkbox basado en el valor de data-value
                checkbox.checked = checkbox.getAttribute('data-value') === 'no';
        
                // Agrega un event listener para el cambio de estado
                checkbox.addEventListener('change', function() {
                    // Actualiza el valor del checkbox basado en su estado
                    this.value = this.checked ? 'si' : 'No';
                });
            });
        });
        </script>
</body>
</html>
