<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTROL DE PERSONAL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/personal.css') }}">
    <link rel="stylesheet" href="css/lineas.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>   
</head>
<body>
    <h1>CONTROL DE LINEAS  </h1>
    <a href="/admin"><button class="btn btn-primary">Regresar al inicio</button></a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nuevoRegistroModal">
        Nuevo Registro
    </button>
    <div class="table">
        <table id="miTabla" border="3" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Linea</th>
                <th>IMEI</th>
                <th>DETALLE ENTREGA</th>
                <th>CEDULA</th>
                <th>NOMBRE MEDICO</th>
                <th>FECHA ENTREGA</th>
                <th>OBSERVACION</th>
                <th>ACTIVO</th>
                <th>ACCIONES</th>
                
            </tr>
        </thead>
        <tbody>
            {% for asignacion in asignaciones %}
            <tr>
                <td>{{ asignacion[0] }}</td>
                <td>{{ asignacion[1] }}</td>
                <td>{{ asignacion[2] }}</td>
                <td>{{ asignacion[3] }}</td>
                <td>{{ asignacion[4] }}</td>
                <td>{{ asignacion[5] }}</td>
                <td>{{ asignacion[6] }}</td>
                <td>{{ asignacion[7] }}</td>
                <td>{{ asignacion[8] }}</td>
                <td>
                       
                    <button type="button" class="btn btn-primary" onclick="abrirModalActualizar({{ asignacion[0] }})">
                        Actualizar
                    </button>
                </td>
            </tr>
            
    
            <div class="modal fade" id="updateModal{{ asignacion[0] }}" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel{{ asignacion[0] }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updateModalLabel{{ asignacion[0] }}">Actualizar {{ asignacion[0] }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/update" method="post">
                                <input type="hidden" name="id" value="{{ asignacion[0] }}">
                                <div class="form-group">
                                    <label for="linea">linea</label>
                                    <span type="text" class="form-control" id="linea" name="linea" value="{{ asignacion[1] }}">{{ asignacion[1] }} </span>
                                </div>
                                <div class="form-group">
                                    <label for="imei">imei</label>
                                    <input type="text" class="form-control" id="imei" name="imei" value="{{ asignacion[2] }}">
                                </div>
                                <div class="form-group">
                                    <label for="detalle_entrega">Detalle entrega</label>
                                    <input type="text" class="form-control" id="detalle_entrega" name="detalle_entrega" value="{{ asignacion[3] }}">
                                </div>
                                <div class="form-group">
                                    <label for="cedula">Numero de cedula</label>
                                    <input type="text" class="form-control" id="cedula" name="cedula" value="{{ asignacion[4] }}">
                                </div>
                                <div class="form-group">
                                    <label for="nombre">Nombre Completo</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre" value="{{ asignacion[5] }}">
                                </div>
                                <div class="form-group">
                                    <label for="fecha_entrega">Fecha entrega</label>
                                    <input type="date" class="form-control" id="fecha_entrega" name="fecha_entrega" value="{{ asignacion[6] }}">
                                </div>
                                <div class="form-group">
                                    <label for="observacion">Observaciones</label>
                                    <input type="text" class="form-control" id="observacion" name="observacion" value="{{ asignacion[7] }}">
                                </div>
                                <div class="form-group">
                                    <label for="estado">estado</label>
                                    <input type="text" class="form-control" id="estado" name="estado" value="{{ asignacion[8] }}">
                                </div>
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function abrirModalActualizar(id) {
        // Genera el ID del modal basado en el ID proporcionado
        var modalId = "updateModal" + id;
        
        // Abre el modal
        $('#' + modalId).modal('show');
    }
</script>
<div class="modal fade" id="nuevoRegistroModal" tabindex="-1" role="dialog" aria-labelledby="nuevoRegistroModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nuevoRegistroModalLabel">Nuevo Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/insert2" method="post">
                    <!-- Aquí van los campos del formulario para el nuevo registro -->
                    <div class="form-group">
                        <label for="linea">Linea</label>
                        <input type="text" class="form-control" id="linea" name="linea" required>
                    </div>
                    <div class="form-group">
                        <label for="imei">IMEI</label>
                        <input type="text" class="form-control" id="imei" name="imei" required>
                    </div>
                    <div class="form-group">
                        <label for="detalle_entrega">Detalle entrega</label>
                        <input type="text" class="form-control" id="detalle_entrega" name="detalle_entrega" >
                    </div>
                    <div class="form-group">
                        <label for="cedula">Numero de cedula</label>
                        <input type="text" class="form-control" id="cedula" name="cedula">
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre Completo</label>
                        <input type="text" class="form-control" id="nombre" name="nombre">
                    </div>
                    <div class="form-group">
                        <label for="fecha_entrega">Fecha entrega</label>
                        <input type="date" class="form-control" id="fecha_entrega" name="fecha_entrega" >
                    </div>
                    <div class="form-group">
                        <label for="observacion">Observaciones</label>
                        <input type="text" class="form-control" id="observacion" name="observacion" >
                    </div>
                    <div class="form-group">
                        <label for="estado">estado</label>
                        <input type="text" class="form-control" id="estado" name="estado">
                    <!-- Agrega más campos según sea necesario -->
                    <button type="submit" class="btn btn-primary">Insertar</button>
                </form>
            </div>
        </div>
    </div>
</div>
    <a href="/admin"><button class="btn btn-primary">Regresar al inicio</button></a>
</body>
</html>
