*{
    margin: 0;
    padding: 0;
}

.titulo{
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.politicas{
    margin: auto;
    display: block;
    width: 900px;
    height: 1000vh;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}