<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTROL DE PERSONAL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/personal.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>LISTADO DE PERSONAL ACTIVO </h1>
    <a href="/talento_humano"><button class="btn btn-primary">Regresar al inicio</button></a>
    <div class="table">
        <table id="miTabla"  border="3" class="table table-striped">
            <thead>
                <tr>
                    <th>CARPETA</th>
                    <th>NUMERO CEDULA</th>
                    <th>CORREO PERSONAL</th>
                    <th>CORREO CORPORATIVO</th>
                    <th>NUMERO CELULAR</th>
                    <th>NOMBRE COMPLETO</th>
                    <th>CARGO</th>
                    <th>FECHA INGRESO</th>
                    <th>ESTADO</th>
                    <th>ACCIONES</th>
                   
                </tr>
            </thead>
            <tbody>
                {% for asignacionpersonal in asignacionespersonal %}
                <tr>
                    <td>{{ asignacionpersonal[0] }}</td>
                    <td>{{ asignacionpersonal[1] }}</td>
                    <td>{{ asignacionpersonal[2] }}</td>
                    <td>{{ asignacionpersonal[3] }}</td>
                    <td>{{ asignacionpersonal[4] }}</td>
                    <td>{{ asignacionpersonal[5] }}</td>
                    <td>{{ asignacionpersonal[6] }}</td>
                    <td>{{ asignacionpersonal[8] }}</td>
                    <td>{{ asignacionpersonal[9] }}</td>
                    
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal{{ asignacionpersonal[0] }}">
                            Actualizar
                        </button>
                    </td>
                </tr>
                <!-- Modal para actualizar -->
                <div class="modal fade" id="updateModal{{ asignacionpersonal[0] }}" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel{{ asignacionpersonal[0] }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateModalLabel{{ asignacionpersonal[0] }}">Actualizar {{ asignacionpersonal[0] }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/update4" method="post">
                                    <input type="hidden" name="NUMERO_CARPETA" value="{{ asignacionpersonal[0] }}">
                                    <div class="form-group">
                                        <label for="NUMERO_CEDULA">NUMERO CEDULA</label>
                                        <input type="text" class="form-control" id="NUMERO_CEDULA" name="NUMERO_CEDULA" value="{{ asignacionpersonal[1] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="CORREO_PERSONAL">CORREO PERSONAL</label>
                                        <input type="email" class="form-control" id="CORREO_PERSONAL" name="CORREO_PERSONAL" value="{{ asignacionpersonal[2] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="CORREO_CORPORATIVO">CORREO CORPORATIVO</label>
                                        <input type="email" class="form-control" id="CORREO_CORPORATIVO" name="CORREO_CORPORATIVO" value="{{ asignacionpersonal[3] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="NUMERO_CELULAR">NUMERO CELULAR</label>
                                        <input type="text" class="form-control" id="NUMERO_CELULAR" name="NUMERO_CELULAR" value="{{ asignacionpersonal[4] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="NOMBRE_COMPLETO">NOMBRE COMPLETO</label>
                                        <input type="text" class="form-control" id="NOMBRE_COMPLETO" name="NOMBRE_COMPLETO" value="{{ asignacionpersonal[5] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="CARGO">CARGO</label>
                                        <input type="text" class="form-control" id="CARGO" name="CARGO" value="{{ asignacionpersonal[6] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="PROCESO">PROCESO</label>
                                        <input type="text" class="form-control" id="PROCESO" name="PROCESO" value="{{ asignacionpersonal[7] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="FECHA_INGRESO">FECHA INGRESO</label>
                                        <input type="date" class="form-control" id="FECHA_INGRESO" name="FECHA_INGRESO" value="{{ asignacionpersonal[8] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="ESTADO">ESTADO</label>
                                        <select type="text" class="form-control" id="ESTADO" name="ESTADO" value="{{ asignacionpersonal[9] }}">
                                            <option value="ACTIVO">ACTIVO</option>
                                            <option value="INACTIVO">INACTIVO</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="FECHA_FIN">FECHA FIN</label>
                                        <input type="date" class="form-control" id="FECHA_FIN" name="FECHA_FIN" value="{{ asignacionpersonal[10] }}">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
