<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/estado_solicitud.css">
    <title>Soporte Admin</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/admin">
                <img src="/static/imagenes/logo2.png" alt="Logo">
                Soporte Admin
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/exportar_a_excel3">Descargar Excel</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container-main">
        <h1 style="text-align: center;">SOLICITUDES DE SOPORTE</h1>
        <div class="table-container">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nombre Médico</th>
                        <th>Tipo de Inconveniente</th>
                        <th>Serial</th>
                        <th>Número de Cubículo</th>
                        <th>Observaciones</th>
                        <th>Fecha de Envío</th>
                        <th>nivel de importancia</th>
                        <th>Estado de la Solicitud</th>
                        <th>Observación del Personal</th>
                        <th>Encargado de la Solución</th>
                        <th>#Ticket</th>
                        <th>Actualizar Estado</th>                     
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[7] }}</td>
                        <td>{{ row[2] }}</td>                        
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[10] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[8] }}</td>
                        <td>{{ row[9] }}</td>
                        <td>
                            <form action="/actualizar_estado2/{{ row[4] }}" method="post">
                                <div class="mb-3">
                                    <label for="estado_de_solicitud" class="form-label">Estado de Solicitud</label>
                                    <select name="estado_de_solicitud" class="form-select">
                                        <option value="Pendiente">Pendiente</option>
                                        <option value="En Proceso">En Proceso</option>
                                        <option value="Completada">Completada</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="encargado" class="form-label">Encargado</label>
                                    <select name="encargado" class="form-select" id="encargado"
                                        onchange="toggleTicketField()">
                                        <option value="julian">Julian</option>
                                        <option value="alejandro">Alejandro</option>
                                        <option value="milenio-pc">milenio-pc</option>
                                    </select>
                                </div>
                                <div id="ticketField" class="mb-3" style="display: none;">
                                    <label for="ticket" class="form-label">Ticket</label>
                                    <input type="text" name="ticket" id="ticket" class="form-control"
                                        placeholder="#de ticket">
                                </div>
                                <div class="mb-3">
                                    <label for="observaciones2" class="form-label">Observaciones</label>
                                    <textarea name="observaciones2" class="form-control" rows="3"
                                        placeholder="Agregar observaciones"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                            </form>
                        </td>                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2024 Soporte Admin. Todos los derechos reservados.</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <a href="/admin" class="text-white">Regresar al inicio</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        function toggleTicketField() {
            var encargado = document.getElementById("encargado").value;
            var ticketField = document.getElementById("ticketField");
            var ticketInput = document.getElementById("ticket");
            if (encargado === "milenio-pc") {
                ticketField.style.display = "block";
                ticketInput.setAttribute("required", "required");
            } else {
                ticketField.style.display = "none";
                ticketInput.removeAttribute("required");
            }
        }
    </script>
</body>

</html>