<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/historial.css">
    <title>Historial del Equipo Asignado</title>
</head>
<body>

    <div class="container">
        <h2>Buscar Historial del Equipo</h2>
        <form method="post">
            <input type="text" name="medico" placeholder="Ingrese el nombre" required>
            <div class="button-group">
                <button type="submit" class="btn-buscar">Buscar</button>
                <button type="button" class="btn-regresar" onclick="location.href='/admin'">Regresar</button>
            </div>
        </form>
        {% if resultado %}
        <div class="results">
            <h3>Resultados:</h3>
            <p><strong>Cargo:</strong> {{ resultado.cargo }}</p>
            <p><strong>ML-PC:</strong> {{ resultado.ml_pc }}</p>
            <p><strong>ML-Pantalla:</strong> {{ resultado.ml_pantalla }}</p>
            <p><strong>Fecha de asignacion del puesto:</strong> {{ resultado.fecha_envio }}</p>
            <p><strong>Observaciones:</strong> {{ resultado.observaciones }}</p>
            <p><strong>Observaciones del personal:</strong> {{ resultado.observaciones2 }}</p>
        </div>
    {% endif %}
    
    
        {% if error %}
        <div class="error">
            <p>{{ error }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>
