<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOLA DR APP</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/imagen_alerta">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script defer src="js/app.js"></script>
</head>

<body class="sb-nav-fixed">
    <!-- Layout -->
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <!-- Logo -->
                        <div class="navbar-brand">
                            <img src="/static/imagenes/hola doctor logo.jpg" alt="hola doctor">
                        </div>
                        <!-- Menú de navegación -->
                        <a class="nav-link" href="/Ayuda">
                            <div class="sb-nav-link-icon"><i class="fas fa-user-md"></i></div>
                            ¿Necesitas ayuda?
                        </a>
                        <a class="nav-link" href="/registro">
                            <div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>
                            Registrar pacientes
                        </a>
                        <a class="nav-link" href="/form">
                            <div class="sb-nav-link-icon"><i class="fas fa-laptop-medical"></i></div>
                            Entrega de equipos
                        </a>
                        <a class="nav-link" href="/Calculadora">
                            <div class="sb-nav-link-icon"><i class="fas fa-calculator"></i></div>
                            Calculadora IMC
                        </a>
                        <a class="nav-link"
                            href="https://forms.office.com/pages/responsepage.aspx?id=3AS15ao0bEuqfKyTG16VypyspRVc0r9CnO5IIHXVwfNUNUtZR0dFOElYNTMxOVFOM0ZHMERRNkg5Qi4u">
                            <div class="sb-nav-link-icon"><i class="fas fa-exclamation-triangle"></i></div>
                            Condiciones Inseguras
                        </a>
                        <a class="nav-link" href="/manualmedicos">
                            <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                            Manual
                        </a>
                        <a class="nav-link" href="/reglamento">
                            <div class="sb-nav-link-icon"><i class="fas fa-gavel"></i></div>
                            Reglamento Interno de Trabajo
                        </a>
                        <a class="nav-link" href="/logout">
                            <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                            Salir
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container mt-4">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="https://forms.office.com/r/geGZngVbeb" target="_blank">
                                    <img src="../static/imagenes/Olimpiadas.jpeg" class="d-block w-100" alt="Profesional médico">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <img src="../static/imagenes/Aviso.jpeg" class="d-block w-100" alt="Hospital">
                            </div>
                            <div class="carousel-item">
                                <img src="../static/imagenes/Cafe.jpeg" class="d-block w-100" alt="Equipo médico">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Siguiente</span>
                        </button>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- Script para cálculo de IMC -->
    <script>
        function calcularIMC() {
            const peso = document.getElementById('peso').value;
            const altura = document.getElementById('altura').value;

            if (peso && altura) {
                const imc = peso / (altura * altura);
                let estado = '';

                if (imc < 18.5) {
                    estado = 'Bajo peso';
                } else if (imc >= 18.6 && imc < 24.9) {
                    estado = 'SALUDABLE';
                } else if (imc >= 25 && imc < 29.9) {
                    estado = 'CON SOBREPESO';
                } else if (imc >= 30 && imc < 39.9) {
                    estado = 'CON OBESIDAD';
                } else {
                    estado = 'OBESIDAD EXTREMA DE ALTO RIESGO';
                }

                // Mostrar el resultado en un modal
                const modal = Swal.fire({
                    title: 'Índice de Masa Corporal (IMC)',
                    html: `Su IMC es: <strong>${imc.toFixed(2)}</strong><br>Estado: <strong>${estado}</strong>`,
                    icon: 'info',
                    confirmButtonText: 'Aceptar'
                });

                // Limpiar los campos al cerrar el modal
                modal.then((result) => {
                    document.getElementById('peso').value = '';
                    document.getElementById('altura').value = '';
                });
            } else {
                Swal.fire({
                    title: 'Error',
                    text: 'Por favor, ingrese su peso y altura.',
                    icon: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        }
    </script>
</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
<script>
    window.addEventListener('DOMContentLoaded', event => {
        // Toggle the side navigation
        const sidebarToggle = document.body.querySelector('#sidebarToggle');
        if (sidebarToggle) {
            sidebarToggle.addEventListener('click', event => {
                event.preventDefault();
                document.body.classList.toggle('sb-sidenav-toggled');
                localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
            });
        }
    });

    function calcularIMC() {
        const peso = document.getElementById('peso').value;
        const altura = document.getElementById('altura').value;

        if (peso && altura) {
            const imc = peso / (altura * altura);
            let estado = '';

            if (imc < 18.5) {
                estado = 'Bajo peso';
            } else if (imc >= 18.6 && imc < 24.9) {
                estado = 'SALUDABLE';
            } else if (imc >= 25 && imc < 29.9) {
                estado = 'CON SOBREPESO';
            } else if (imc >= 30 && imc < 39.9) {
                estado = 'CON OBESIDAD';
            } else {
                estado = 'OBESIDAD EXTREMA DE ALTO RIESGO';
            }

            // Mostrar el resultado en un modal
            const modal = Swal.fire({
                title: 'Índice de Masa Corporal (IMC)',
                html: `Su IMC es: <strong>${imc.toFixed(2)}</strong><br>Estado: <strong>${estado}</strong>`,
                icon: 'info',
                confirmButtonText: 'Aceptar'
            });

            // Limpiar los campos al cerrar el modal
            modal.then((result) => {
                document.getElementById('peso').value = '';
                document.getElementById('altura').value = '';
            });
        } else {
            Swal.fire({
                title: 'Error',
                text: 'Por favor, ingrese su peso y altura.',
                icon: 'error',
                confirmButtonText: 'Aceptar'
            });
        }
    }
</script>
</body>

</html>