<!DOCTYPE html>
<html lang="es">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plano holadr</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/personal.css') }}">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>   
        <link rel="stylesheet" href=" https://www.canva.com/design/DAGCranO9II/jqxD1juKahpc3WvTqbUAfw/view">
       
    </head>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }
        img {
            max-width: 90%;
            height: auto;
        }
        .boton{
            color: #28289d;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="/admin"><button class="btn btn-primary"  style="background-color: #28289D;">Regresar al inicio</button></a><br><br>
        <!-- <img src="/static/imagenes/plano.jpeg" alt="Plano oficina"> -->
        <div style="position: relative; width: 100%; height: 0; padding-top: 75.0000%;
    padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
    border-radius: 8px; will-change: transform;">
     <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
       src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGCranO9II&#x2F;jqxD1juKahpc3WvTqbUAfw&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
     </iframe>
   </div>
    </div>   
    
   <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGCranO9II&#x2F;jqxD1juKahpc3WvTqbUAfw&#x2F;view?utm_content=DAGCranO9II&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">A-01</a> de hola dr
</body>
</html>