<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politicas internas</title>
    <link rel="stylesheet" href="politicas_internas.css">
</head>
<body>
    <OBJect class="politicas" type="application/pdf" data="POLITICAS DE SEGURIDAD INFORMATICA V4.pdf"></OBJect>
</body>
<script>
    
   // Función para generar un color aleatorio dentro de un rango específico
   function getRandomColor() {
     var letters = '0123456789ABCDEF';
     var color = '#';
     // Escoger un color en el rango de 0 a 3 (para los colores que has proporcionado)
     var randomIndex = Math.floor(Math.random() * 4);
     // Escoger el color correspondiente según el índice aleatorio
     switch (randomIndex) {
       case 0:
         color = '#28289d';
         break;
       case 1:
         color = '#4edfb5';
         break;
       case 2:
         color = '#3d3df6';
         break;
       case 3:
         color = '#ececec';
         break;
       default:
         color = '#28289d'; // Color predeterminado en caso de cualquier error
         break;
     }
     return color;
   }
 
   // Función para establecer un color de fondo aleatorio al cargar la página
   function setRandomBackgroundColor() {
     document.body.style.backgroundColor = getRandomColor();
   }
 
   // Llamar a la función para establecer un color de fondo aleatorio cuando se carga la página
   setRandomBackgroundColor();


</script>
</html>