<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reglamento Interno</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nomina.css') }}">
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .container img {
            margin: 10px;
            max-width: 120%;
            height: auto;
        }

        /* Estilo para reducir el tamaño del nav */
        .navbar {
            padding: 0.5rem 1rem; /* Reduce el padding */
        }

        .navbar-brand {
            font-size: 1rem; /* Reduce el tamaño del texto del enlace */
        }

        .navbar img {
            height: 30px; /* Ajusta la altura de la imagen */
            margin-right: 10px; /* Espaciado entre la imagen y el texto */
        }
    </style>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #28289D;">
        <div class="container">
            <img src="/static/imagenes/logo2.png" alt="">
            <a class="navbar-brand" href="/index">Regresar al inicio</a>
        </div>
    </nav>
    <div class="container">
        <img src="/static/IMG/reglamento.PNG" alt="">
        <img src="/static/IMG/reglamento2.PNG" alt="">
        <img src="/static/IMG/reglamento3.PNG" alt="">
        <img src="/static/IMG/reglamento4.PNG" alt="">
        <img src="/static/IMG/reglamento5.PNG" alt="">
        <img src="/static/IMG/reglamento6.PNG" alt="">
        <img src="/static/IMG/reglamento7.PNG" alt="">
        <img src="/static/IMG/reglamento8.PNG" alt="">
        <img src="/static/IMG/reglamento9.PNG" alt="">
        <img src="/static/IMG/reglamento10.PNG" alt="">
        <img src="/static/IMG/reglamento11.PNG" alt="">
        <img src="/static/IMG/reglamento12.PNG" alt="">
        <img src="/static/IMG/reglamento13.PNG" alt="">
        <img src="/static/IMG/reglamento14.PNG" alt="">
        <img src="/static/IMG/reglamento15.PNG" alt="">
        <img src="/static/IMG/reglamento16.PNG" alt="">
        <img src="/static/IMG/reglamento17.PNG" alt="">
        <img src="/static/IMG/reglamento18.PNG" alt="">
        <img src="/static/IMG/reglamento19.PNG" alt="">
        <img src="/static/IMG/reglamento20.PNG" alt="">
        <img src="/static/IMG/reglamento21.PNG" alt="">
        <img src="/static/IMG/reglamento22.PNG" alt="">
        <img src="/static/IMG/reglamento23.PNG" alt="">
        <img src="/static/IMG/reglamento24.PNG" alt="">
        <img src="/static/IMG/reglamento25.PNG" alt="">
        <img src="/static/IMG/reglamento26.PNG" alt="">
        <img src="/static/IMG/reglamento27.PNG" alt="">
        <img src="/static/IMG/reglamento28.PNG" alt="">
        <img src="/static/IMG/reglamento29.PNG" alt="">
        <img src="/static/IMG/reglamento30.PNG" alt="">
        <img src="/static/IMG/reglamento31.PNG" alt="">
        <img src="/static/IMG/reglamento32.PNG" alt="">
        <img src="/static/IMG/reglamento33.PNG" alt="">
        <img src="/static/IMG/reglamento34.PNG" alt="">
        <img src="/static/IMG/reglamento35.PNG" alt="">
        <img src="/static/IMG/reglamento36.PNG" alt="">
        <img src="/static/IMG/reglamento37.PNG" alt="">
        <img src="/static/IMG/reglamento38.PNG" alt="">
        <img src="/static/IMG/reglamento39.PNG" alt="">
        <img src="/static/IMG/reglamento40.PNG" alt="">
        <img src="/static/IMG/reglamento41.PNG" alt="">
        <img src="/static/IMG/reglamento42.PNG" alt="">
        <img src="/static/IMG/reglamento43.PNG" alt="">
        <img src="/static/IMG/reglamento44.PNG" alt="">
        <img src="/static/IMG/reglamento45.PNG" alt="">
        <img src="/static/IMG/reglamento46.PNG" alt="">
        <img src="/static/IMG/reglamento47.PNG" alt="">
        <img src="/static/IMG/reglamento48.PNG" alt="">
        <img src="/static/IMG/reglamento49.PNG" alt="">
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #28289D;">
        <div class="container">
            <a class="navbar-brand" href="/index">Regresar al inicio</a>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    
</body>
</html>
